<section id="gallery" class="sections">
  <div class="container text-center">

    <div class="heading-content">
      <h3>Documentos sobre el duelo</h3>
      <h5>Descargue los documentos que explican las etapas, procesos, sintomas, y todo lo relacionado con el duelo</h5>
    </div>

    <!-- Example row of columns 1 -->
    <div class="row">

      <!-- doc1 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <!-- <img src="assets/images/books/la_fuerza_del_espiritu.png" alt="La fuerza del espiritu." /> -->
            <h6>Tareas del duelo</h6>
            <div class="img-overlay"></div>
            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/Tareas%2Bdel%2BDuelo+(2).pdf">Download</a>
            </div>
          </div>

          <p>La pérdida de un ser querido se considera uno de los mayores retos que podemos enfrentar los seres humanos.</p>

        </div>
      </div>

      <!-- doc2 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <!-- <img src="assets/images/books/la_fuerza_del_espiritu.png" alt="La fuerza del espiritu." /> -->
            <h6>Recuperacion despues de una perdida</h6>
            <div class="img-overlay"></div>
            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/Recuperacion+despues+de+laperdida.pdf">Download</a>
            </div>
          </div>

          <p>Tómese todo el tiempo y la tranquilidad que necesita. Su dolor es único para usted, por lo que no todas las sugerencias le ayudarán</p>

        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>

