<header id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-7 col-sm-12 col-xs-12">
                <div class="home-content sections">
                    <h1><span>El Duelo</span></h1>
                    <h5><span>¿Se puede entender la Vida después de conocer la Muerte de una manera tan
                            cercana?</span><br><br></h5>
                    <p>El duelo no está limitado a la muerte. El duelo son las emociones que se experimentan cuando hay
                        una pérdida o cuando muere alguien a quien se ha cuidado con interés y atención.</p>
                    <a target="_blank"
                        href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/flyier.pdf"><button
                            class="btn btn-default btn-lg"><i class="fa fa-download"> </i> Flyer</button></a>
                    <a target="_blank"
                        href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/DocumentacionDuelo.docx"><button
                            class="btn btn-primary btn-lg">Aprende más</button></a>
                    <div class="available">
                        <p>
                            Siguenos en :
                            <a href="https://www.youtube.com/channel/UCZDUwlxXvlf6ak-XQ05WYYA" target="_blanck"><i
                                    class="fa fa-youtube"></i></a>
                            <a href="mailto:labuenaesperanzaduelo@yahoo.com" target="_blanck"><i
                                    class="fa fa-inbox"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="features" class="sections lightbg">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Derechos del doliente</h3>
            <h5>Exige el respeto de estos derechos en tu vida y en la de aquellos a tu alrededor!!!</h5>
        </div>

        <!-- Example row of columns -->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-user"></i>
                    <h5>Derecho a experimentar tu propio proceso</h5>
                    <p>Tu duelo es irrepetible, único, como una huella digital. Dado lo anterior, tú eres el único
                        experto en lo que te sucede. De los consejos que recibas, toma solamente lo que te sirva, no te
                        sientas obligado a acatar recomendaciones ajenas o ir al ritmo que otra persona te dicte.
                        Desafortunadamente, la sociedad hará hasta lo imposible para que “superes” tu pérdida cuanto
                        antes, porque a los otros les angustia la proximidad de la muerte. DEFIENDE tu derecho a sufrir
                        la ausencia de tu ser querido.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-heart"></i>
                    <h5>Derecho a hablar sobre tus sentimientos</h5>
                    <p>Expresar los sentimientos y pensamientos producto de la muerte es fundamental para que te
                        reconcilies con la ausencia de tu ser querido. No existe otra manera de lograr este objetivo,
                        más que sacar lo que llevas adentro. La ansiedad de los que están a tu alrededor podría
                        llevarlos a callarte, ignorarte, o avergonzarte; haciéndote sentir que tus expresiones son
                        inadecuadas. ¡No los escuches! Lo que haces no solo es normal, sino indispensable para tu
                        bienestar.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-child"></i>
                    <h5>Derecho a sentir gran variedad de emociones</h5>
                    <p>Las emociones no son ni positivas, ni negativas, sencillamente ponen de manifiesto tus
                        necesidades internas, en un momento dado. Entre la amplia gama de emociones que puedes
                        experimentar están: alivio, culpa, tristeza, enojo, etc. No importa si son contradictorias, si
                        se presentan por separado o todas juntas…. a todo esto, se le debe dar un lugar. No te reprimas,
                        y no permitas que otros te averguencen por lo que sientes. Conforme dejes fluir tus emociones,
                        irán perdiendo fuerza y recuperarás las riendas de tu vida.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-user-times"></i>
                    <h5>Derecho a ser tolerante con tus limitaciones físicas y emocionales</h5>
                    <p>Tanto tu corazón como tu cuerpo sufrirán la pérdida de tu ser querido; regálate paciencia. A
                        nivel físico podrías experimentar síntomas tales como: alteraciones del sueño y/o el apetito,
                        fatiga, molestias estomacales, dolores de cabeza y/o musculares, entre otros. Además, existe una
                        amplia gama de emociones y conductas que pueden presentarse. Muéstrate la misma compasión que le
                        tendrías a otra persona en tu situación. No te reprimas, no te apresures y no te obligues a
                        nada. Cada cosa que experimentas tiene su razón de ser; respeta tu sabiduría interna.</p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-heartbeat"></i>
                    <h5>Derecho a sentir explosiones de dolor, aún mucho tiempo después de la muerte</h5>
                    <p>La muerte finaliza el contacto físico que tenías con tu ser amado; no pone fin a la relación ni
                        al lazo afectivo entre ambos. Dado lo anterior, no importa cuánto tiempo haya pasado tras la
                        muerte, habrá detonantes de tu dolor. Encontrarás que ciertas fechas, eventos, olores, sonidos,
                        etc podrán desencadenar una expresión de dolor tan intensa, como las de los primeros días. No te
                        asustes, no te preocupes, ten paciencia que, así como llega, se irá. No es un retroceso; no
                        estás peor…es lo normal.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-hand-o-up"></i>
                    <h5>Derecho a utilizar los rituales y las ceremonias a tu beneficio</h5>
                    <p>Los funerales, novenarios, celebraciones de aniversario de muerte y otros rituales, siempre deben
                        ser planeados para expresar los sentimientos en torno a tu pérdida, contribuyendo así a tu
                        reconciliación con la muerte. De poco (por no decir que de nada) sirven los rituales genéricos
                        en los cuales se excluyen datos y curiosidades pertinentes a la persona que murió o a su
                        relación con los presentes.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-search-plus"></i>
                    <h5>Derecho a buscarle significado a la experiencia vivida</h5>
                    <p>Especialmente en un suicidio, quedan muchas incógnitas que atormentan a los sobrevivientes.
                        Tienes el derecho de investigar, buscar, preguntar, aclarar todo aquello que te ocasione
                        curiosidad. La realidad es que nunca conocerás con certeza las razones de lo ocurrido pues la
                        mayoría de los que se suicidan no dejan nota…y aunque la dejen, muchas veces ni ellos mismos
                        comprenden la totalidad de lo que les sucede. El valor de la incesante pregunta del por qué, es
                        el hecho de que eventualmente te lleva a cuestionarte el cómo, cómo vivir sin el ser querido. Y
                        es entonces cuando empiezas a sentar las bases para tu nueva vida.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-comments-o"></i>
                    <h5>Derecho a atesorar tus recuerdos</h5>
                    <p>La muerte no finaliza el amor que uno siente por una persona; ni acaba la relación entre
                        ambos…sencillamente la transforma, de una relación de hecho a una relación de recuerdo. Cobran
                        entonces, especial importancia, los lugares, objetos, olores, etc. que evoquen el tiempo
                        compartido con nuestro ser querido. No solamente tienes derecho a hablar de ellos cuando te
                        plazca, sino a incorporarlos en tu espacio de trabajo y vivienda (ej. fotografías).</p>
                </div>
            </div>

        </div>
    </div> <!-- /container -->
</section>

<!-- Section Gallery -->
<app-gallery></app-gallery>
<!-- Section Gallery -->
<app-video></app-video>
<app-books></app-books>
<app-duelo></app-duelo>
