<section id="testimonial" class="sections lightbg">
  <div class="container text-center">

    <div class="heading-content">
      <h3>Quienes somos</h3>
    </div>

    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
          </ol>

          <!-- Wrapper for slides -->

          <!-- slide1 -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <div class="col-md-4">
                <div class="testimonial-photo">
                  <img src="assets/images/foto-arlex-cardona.png" alt="foto-grace" />
                </div>
              </div>

              <div class="col-md-8">
                <div class="testimonial-content">
                  <p><strong>Arlex Cardona</strong>
                    <br><br> Nací en Medellin,Colombia en Enero de 1967.
                    Obtuve mi Certificado de Consejero de Duelo en “The American Academy of Grief Counseling” en 2018,
                    Maestría en Servicios Humanos de Boricua Collage en Nueva York, Bachillerato en Psicología,
                    especialización en Filosofía y Teología de la Universidad de Saint Johns en Nueva York, dos unidades
                    de Educación Clínica Pastoral (CPE) del Jackson Memorial Hospital en Miami en 2017. En Miami soy
                    Coordinador de duelo desde 2013 en un hospicio. Creé un grupo de apoyo para el duelo en mi comunidad
                    parroquial en agosto 2015.
                    Mi objetivo es ayudar a los deudos en el proceso de su duelo y proporcionar apoyo emocional.
                  </p>
                  <h6><strong>Arlex Cardona </strong><br />Consejero de Duelo</h6>
                </div>
              </div>
            </div>

            <!-- slide2 -->


            <div class="item">

              <div class="col-md-3">
                <div class="testimonial-photo">
                  <img src="assets/images/foto-grace.png" alt="foto-grace" />
                </div>
              </div>

              <div class="col-md-8">
                <div class="testimonial-content">
                  <p><strong>Grace Arias</strong>
                    <br><br> Nací en Bogotá,Colombia en noviembre de 1982.
                    Estudié Psicología en Colombia e hice una Maestría en Servicios Humanos en la Ciudad de Nueva York.
                    Mi experiencia en clínica me han llevado a trabajar por más de 5 años en diferentes Hospitales
                    de la ciudad de Calgary en Canadá.
                    Mi trabajo en terapia consiste en Trauma y Duelo y mi gran objetivo es brindar acompañamiento
                    emocional y ofrecer estrategias para el desarrollo humano.
                  </p>
                  <h6><strong>Grace Arias </strong><br />Psicologa - Coordinadora de Duelo</h6>
                </div>
              </div>

            </div>
          </div>

          <!-- <div class="item">

                          <div class="col-md-4">
                              <div class="testimonial-photo">
                                  <img src="assets/images/gallery/2.png" alt="" />
                              </div>
                          </div>

                          <div class="col-md-8">
                              <div class="testimonial-content">
                                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.Praesent lobortis lectus eget libero blandit venenatis.In blandit tortor vel congue malesuada. Suspendisse. molestie lobortis lorem dignissim pretium.</p>
                                  <h6><strong>John Doe <br />from some company</strong></h6>
                              </div>
                          </div>

                      </div> -->


        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>
