<!-- <header id="home" class="home">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
              <div class="home-content sections">
                  <h1><span>El Duelo</span></h1>
                  <h5><span>¿Se puede entender la Vida después de conocer la Muerte de una manera tan cercana?</span><br><br></h5>
                    <p>El duelo no está limitado a la muerte. El duelo son las emociones que se experimentan cuando hay una pérdida o cuando muere alguien a quien se ha cuidado con interés y atención.</p>
                  <a target="_blank" href="#"><button class="btn btn-default btn-lg">Download</button></a>
                  <a target="_blank" href="#"><button class="btn btn-primary btn-lg">Aprende más</button></a>
                  <div class="available">
                      <p>
                          Siguenos en :
                          <a href="https://www.youtube.com/channel/UCZDUwlxXvlf6ak-XQ05WYYA" target= "_blanck"><i class="fa fa-youtube"></i></a>
                          <a href="mailto:labuenaesperanzaduelo@yahoo.com" target= "_blanck"><i class="fa fa-inbox"></i></a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header> -->
