<section id="gallery" class="sections">
  <div class="container text-center">
    <div class="heading-content">
      <h3>Contacto</h3>
      <!-- <h5>Sumario de momentos maravillosos</h5> -->
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <!-- <div class="col-md-6"> -->
        <div class="gallery-item">
          <div class="gallery-flyer">
            <a href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/flyier.pdf" target="_blanck">
              <img src="assets/images/flyier.jpeg" alt="flyer" width="70%"/>
            </a>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
