<section id="gallery" class="sections">
  <div class="container text-center">
    <div class="heading-content">
      <h3>Galeria de fotos</h3>
      <h5>Sumario de momentos maravillosos</h5>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/1.png" alt="" />
            <h6>Arlex y Cardinal Desmond O'Connor - New york</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/1.png">
                Ver más
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/2.png" alt="" />
            <h6>Libro sobre el duelo</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/2.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/3.png" alt="" />
            <h6>Libros sobre el duelo</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/3.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/4.png" alt="" />
            <h6>ora con el corazon radio</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/4.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 2da row column -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/5.png" alt="" />
            <h6>GRUPO APOYO PARA EL DUELO</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/5.png ">Ver más</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/6.png" alt="" />
            <h6>telemundo</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/6.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/7.png" alt="" />
            <h6>buenos dias america</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/7.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/gallery/8.png" alt="" />
            <h6>la buena esperanza</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck" href="assets/images/gallery/8.png">Ver más</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</section>
