<section id="video" class="video">
  <div class="overlay sections">
      <div class="container text-center">
        <div class="heading-content">
          <h3 style="color: white;">Videos</h3>
        </div>
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                  <div class="video-content">
                      <!-- video1 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/67X89dGBUf0" title="YouTube video player1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Claudia de Colombia - <span>El Alfarero</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video2 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/KIGfl35wq30" title="YouTube video player2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Hermana Glenda - <span>Alguien está orando por mi</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video3 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ww-dBeLgxwE" title="YouTube video player3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Isadora - <span>Haz un instrumento de tú paz</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video4
                      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/1uca17w7qco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Duelo 'La buena esperanza' - <span>Telemundo-Arlex Cardona</span></h1>
                      <br>
                      <br>
                      <br> -->

                      <!-- video5 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/BN4lPqT3uXY" title="YouTube video player5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Duelo 'La buena esperanza' - <span>Entrevista-Radio</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video6
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/OgIuHpnR3Pk" title="YouTube video player6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                      <h1>Duelo 'La buena esperanza' - <span>Derechos del doliente</span></h1>
                      <br>
                      <br>
                      <br> -->

                      <!-- video7 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/GW27ZZ0wEfE" title="YouTube video player7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Duelo 'La buena esperanza' Miami - <span>Ora con el corazon</span></h1>
                      <br>
                      <br>
                      <br>
                  </div>
              </div>
          </div>
      </div> <!-- /container -->
  </div>
</section>

