<section id="video" class="video">
  <div class="overlay sections">
      <div class="container text-center">
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                  <div class="video-content">

                      <!-- <a href="http://www.youtube.com/embed/ee1_2gA8UZY?autoplay=1&amp;.)wmode=opaque&amp;.)fs=1" class="youtube-media"><i class="fa fa-play"></i></a> -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ww-dBeLgxwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <!-- <i class="fa fa-play"></i> -->
                      <h1>Isadora - <span>Haz un instrumento de tú paz</span></h1>
                      <br>
                      <br>
                      <br>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi fringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.</p> -->

                      <iframe width="560" height="315" src="https://www.youtube.com/embed/KIGfl35wq30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Hermana Glenda - <span>Alguien está orando por mi</span></h1>
                      <br>
                      <br>
                      <br>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/67X89dGBUf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Claudia de Colombia - <span>El Alfarero</span></h1>
                  </div>
              </div>
          </div>
      </div> <!-- /container -->
  </div>
</section>

