<section id="video" class="video">
  <div class="overlay sections">
      <div class="container text-center">
        <div class="heading-content">
          <h3 style="color: white;">Videos</h3>
        </div>
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                  <div class="video-content">
                      <!-- video1 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/67X89dGBUf0" title="YouTube video player1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Claudia de Colombia - <span>El Alfarero</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video2 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/KIGfl35wq30" title="YouTube video player2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Hermana Glenda - <span>Alguien está orando por mi</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video3 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ww-dBeLgxwE" title="YouTube video player3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>Isadora - <span>Haz un instrumento de tú paz</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video4 -->
                      <video width="560" height="315" controls>
                        <source src="https://s3.amazonaws.com/labuenaesperanzaduelo.com/videos/TELEMUNDO-GRUPO+DUELO.MOV">
                      </video>
                      <h1>Duelo 'La buena esperanza' - <span>Telemundo</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video5 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/NaKevghMKUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>'Apoyo para el duelo' La buena Esperanza - <span>Radio Maria Miami</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video6 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/5p6WxpqDwpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>'La buena esperanza - Duelo' - <span>Radio Maria Miami</span></h1>
                      <br>
                      <br>
                      <br>

                      <!-- video7 -->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Sap1suz8LD8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h1>El Duelo con Arlex Cardona - <span>Radio Maria Miami</span></h1>
                      <br>
                      <br>
                      <br>
                  </div>
              </div>
          </div>
      </div> <!-- /container -->
  </div>
</section>

