<section id="gallery" class="sections">
  <div class="container text-center">

    <div class="heading-content">
      <h3>Libros</h3>
      <h5>Libros recomendados sobre la esperanza, apego, duelo y varios temas de interes</h5>
    </div>

    <!-- Example row of columns 1 -->
    <div class="row">


      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/la_fuerza_del_espiritu.png" alt="La fuerza del espiritu." />
            <h6>La fuerza del espiritu</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/La-fuerza-del-espiritu.pdf">Download</a>

            </div>
          </div>

          <p>Hay una solución espiritual para cada problema.</p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/el_poder_de_la_mente_subconsciente.png" alt="el_poder_de_la_mente_subconsciente" />
            <h6>El poder de la mente</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">

              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/ElPoderDeLaMenteSubsconscienteCompleto.pdf">Download</a>
            </div>
          </div>

          <p>Escribí este libro para demostrar cómo su imaginación y pensamiento, crean, moldean y adaptan su destino.
          </p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/como_curar_un_corazon_roto.png" alt="como_curar_un_corazon_roto" />
            <h6>Como curar un corazon roto</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">

              <a class="gallery-img"
                target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/C%C3%B3mo+curar+un+coraz%C3%B3n+roto+-+Gaby+P%C3%A9rez+Islas.pdf">Download</a>
            </div>
          </div>

          <p>La mejor manera de honrar a quien se ha ido es seguir con su legado.
          </p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/dejarlos_ir_con_amor.png" alt="dejarlos ir con amor" />
            <h6>Dejarlos ir con amor</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img"
                target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/D%C3%A9jalos+ir+Con+Amor_+La+Aceptaci%C3%B3n+del+Duelo+-+Nancy+O'Connor.pdf">
                Download
              </a>
            </div>

          </div>

          <p>La mayoría de nosotros desconocemos lo que es el duelo hasta que lo experimentamos en carne propia.</p>

        </div>
      </div>
    </div>

    <br>
    <br>

<!-- Example row of columns 2 -->
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/disculpe_estoy_en_duelo.png" alt="disculpe_estoy_en_duelo" />
            <h6>Disculpe estoy en duelo</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/Disculpe+estoy+en+duelo.pdf">Download</a>

            </div>
          </div>

          <p>El duelo se ha convertido en un comportamiento social desviado</p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/un_adios_en_armonia.png" alt="un_adios_en_armonia" />
            <h6>Un adios en armonia</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">

              <a class="gallery-img" target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/Un+adi%C3%B3s+en+armon%C3%ADa.+Una+invitaci%C3%B3n+para+aceptar+la+muerte+y+abrazar+la+vida.pdf">Download</a>
            </div>
          </div>

          <p>
            Una invitacion para aceptar la muerte y abrazar la vida
          </p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/sobre_el_duelo.png" alt="sobre_el_duelo" />
            <h6>Sobre el duelo</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">

              <a class="gallery-img"
                target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/Sobre+el+duelo+y+el+dolor.pdf">Download</a>
            </div>
          </div>

          <p>
            El legado final de la autora de La muerte. Un amanecer
          </p>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="gallery-item">
          <div class="gallery">
            <img src="assets/images/books/se_me_ha_roto_la_vida.png" alt="se_me_ha_roto_la_vida" />
            <h6>Se me ha roto la vida</h6>

            <div class="img-overlay"></div>

            <div class="gallery-icon">
              <a class="gallery-img"
                target="_blanck"
                href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/Se+me+ha+roto+la+vida.+Reflexionesy+testimonios+de+duelo.pdf">
                Download
              </a>
            </div>

          </div>
          <p>
            Reflexiones y testimonios del duelo
          </p>

        </div>
      </div>
    </div>

    <br>
    <br>

    <!-- Example row of columns 3 -->
    <div class="row">


          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="gallery-item">
              <div class="gallery">
                <img src="assets/images/books/duelo_patologico.png" alt="La fuerza del espiritu." />
                <h6>Duelo Patológico</h6>

                <div class="img-overlay"></div>

                <div class="gallery-icon">
                  <a class="gallery-img" target="_blanck"
                    href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/Duelo_patologico.pdf">Download</a>

                </div>
              </div>

              <p>Factores de riesgo y protección</p>

            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="gallery-item">
              <div class="gallery">
                <img src="assets/images/books/duelo_y_luto.png" alt="el_poder_de_la_mente_subconsciente" />
                <h6>Duelo y Luto</h6>

                <div class="img-overlay"></div>

                <div class="gallery-icon">

                  <a class="gallery-img" target="_blanck"
                    href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/EL+DUELO+Y+EL+LUTO.pdf">Download</a>
                </div>
              </div>

              <p>El duelo como fenómeno antropológico</p>

            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="gallery-item">
              <div class="gallery">
                <img src="assets/images/books/el_dolor_no_es_para_siempre.png" alt="como_curar_un_corazon_roto" />
                <h6>El dolor no es para siempre</h6>

                <div class="img-overlay"></div>

                <div class="gallery-icon">

                  <a class="gallery-img"
                    target="_blanck"
                    href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/El-Dolor-No-Es-Para-Siempre-Los-Grupos-de-Ayuda-Mutua-en-El-Duelo-Arnaldo-Pangrazzi.pdf">Download</a>
                </div>
              </div>

              <p>Los grupos de ayuda mutua en el duelo
              </p>

            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="gallery-item">
              <div class="gallery">
                <img src="assets/images/books/guia_para_el_manejo_del_duelo.png" alt="dejarlos ir con amor" />
                <h6>Guía para el manejo del duelo</h6>

                <div class="img-overlay"></div>

                <div class="gallery-icon">
                  <a class="gallery-img"
                    target="_blanck"
                    href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/books/GU%C3%8DA+MANEJO+DE+DUELO+(1)+(1).pdf">
                    Download
                  </a>
                </div>

              </div>

              <p>Evadir, Negar y Afrontar</p>

            </div>
          </div>
    </div>
  </div> <!-- /container -->
</section>
