<!--Footer-->
<footer id="footer" class="footer colorsbg">
  <div class="container">
      <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="copyright text-left">
                  <p>Made with <i class="fa fa-heart"></i> by <a href="https://labuenaesperanzaduelo.com"> www.labuenaesperanzaduelo.com </a><br>All rights reserved. 2021</p>
              </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="copyright text-center">
                <a href="mailto:labuenaesperanzaduelo@yahoo.com" target="_blanck"><i class="fa fa-inbox"></i>&nbsp;<strong>Mail:labuenaesperanzaduelo@yahoo.com</strong></a>
                <br>
                <a href="https://www.youtube.com/channel/UCZDUwlxXvlf6ak-XQ05WYYA" target="_blanck"><i class="fa fa-youtube"></i>&nbsp;<strong>Canal en youtube</strong></a>
                <br>
                <a href="https://www.facebook.com/grupolabuenaesperanza" target="_blanck"><i class="fa fa-facebook"></i>&nbsp;<strong>Comunidad facebook</strong></a>

              </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="copyright text-right">
              <a href="https://s3.amazonaws.com/labuenaesperanzaduelo.com/documents/terminos+y+condiciones.pdf" target="_blanck">Terms of Service | Privacy Policy</a>
            </div>
        </div>

      </div>
  </div>
</footer>
