<!--Footer-->
<footer id="footer" class="footer colorsbg">
  <div class="container">
      <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="copyright text-left">
                  <p>Made with <i class="fa fa-heart"></i> by <a href="https://labuenaesperanzaduelo.com"> www.labuenaesperanzaduelo.com </a><br>All rights reserved. 2021</p>
              </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="copyright text-center">
                <a href="mailto:labuenaesperanzaduelo@yahoo.com" target="_blanck"><i class="fa fa-inbox"></i> - labuenaesperanzaduelo@yahoo.com</a>
                <br>
                <a href="https://www.youtube.com/channel/UCZDUwlxXvlf6ak-XQ05WYYA" target="_blanck"><i class="fa fa-youtube"></i> - canal en youtube</a>
                <p>Nuestra Señora de la Divina Providencia
                Iglesia Católica
                Miami, FL.33174</p>
              </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="copyright text-right">
                <p>Terms of Service | Privacy Policy</p>
            </div>
        </div>

      </div>
  </div>
</footer>
